<footer class="footer">
    <p>Criado e mantido por <a href="https://rodolfomaciel.com">Rodolfo Maciel</a> desde 2018 com tecnologias <a href="#">Open Source</a> e <a href="#">Linux</a> sob a licença <a href="#">MIT</a></p> 
</footer>