<header class="menu">
    <ul class="first-menu">
        <li class="logo">
            <a href="{{ site.url }}">
                RM
            </a>
        </li>
        
        <li class="categ">Categorias</li>
        {% for item in site.data.categories %}
            <li><a href="{{ item.url}}" class="cat">{{ item.title }}</a></li>
        {% endfor %}
        <li><hr></li>
     </ul>

     <ul class="first-menu">
        <li class="categ">Social</li>         
        {% for item in site.data.social %}
            <li><a href="{{ item.url}}" class="soc">{{ item.title }}</a></li>
        {% endfor %}
     </ul>
</header>