/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd,
blockquote, figure, fieldset, legend, textarea,
pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
margin: 0;
padding: 0;
}

h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-weight: normal;
}

ul {
list-style: none;
}

button, input, select, textarea {
margin: 0;
}

html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

img, embed, iframe, object, audio, video {
height: auto;
max-width: 100%;
}

iframe {
border: 0;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

td, th {
padding: 0;
text-align: left;
}
/* fim reset */

html { font: normal normal 300 62.5%/1 sans-serif; color: #494949; background: #e6e6e6; }
html {font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Oxygen","Ubuntu",
       "Cantarell","Fira Sans","Droid Sans","Helvetica Neue", sans-serif; }
h1, h2, h3, h4, h5, h6 { color:#212121; line-height: 1.2; margin-bottom: 1rem; letter-spacing: -.1rem; word-wrap: break-word; }
h1 { font-size: 30px; }
h2 { font-size: 26px }
h3 { font-size: 24px }
h4 { font-size: 22px }
h5, blockquote { font-size: 20px }
h6, address, pre, ol, ol, li, dl dt, dd, figure, figcaption,
main, div, a, em, strong, small, s, cite, q, dfn, abbr,
ruby, rb, rt, rtc, rp, data, time, code, var, samp, kbd,
i, b, u, mark, bdi, bdo, span, wbr, p, br, hr, ins, del {
font-size: 18px ; line-height: 1.2; margin-bottom: 1rem; letter-spacing: -.03rem;
}
p { line-height: 1.6; letter-spacing: -.03rem; }
blockquote { border-left: .1rem solid #BDBDBD; padding-left: 1rem ; line-height: 2; }
mark { background-color: #FFEE58; }
small { font-size: 80%; }
cite::before { content:'"'}
cite::after { content:'"'}
sub, sup { font-size: 1rem; }
a { color: #D32F2F; }
a:active, a:hover, a:visited { text-decoration: none; }
.video,
.audio {
    position: relative;
    padding-bottom: 56.25%;
}

body {
    width: 100%;
}

video {
    width: 100% !important;
    height: auto !important;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}


button {
    border: none;
    padding: 10px;
    background-color: #ffa700;
    color: #494949;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.block {
    display: flex;
}

.main {
    width: 66.66%;
    max-width: 720px;
    background-color: #f1f1f1;
}

.menu, .sidebar {
    width: 16.66%;
    max-width: 180px;
    margin-top: 50px;
}

.sidebar {
    position: relative;
}

.footer {
    width: 100%;
    max-width: 1080px;
    padding: 30px 0;
    text-align: center;
}

.footer > p, a {
    font-size: 14px;
    text-decoration: none;
}

.first-menu {
    width: 70%;
    margin: 0 auto;
}

.second-menu {
    position: fixed;
    width: 140px;
    margin: 0 20px;
}

.menu .categ {
    color: #494949;

}

.menu hr {
    margin: 30px 0;
    border: 1px solid #616161;
}

.page,
.post {
    width: 85%;
    margin: 50px auto;
}

.course {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
    border-bottom: 1px solid #BDBDBD;
}

.course-title {
    font-size: 30px;
    font-weight: 700;
    color: #212121;
}

.course-header {
    width: 75%;
}

.course-description {
    color: #494949;
    font-size: 20px;
    padding-bottom: 20px;
}

.course-image {
    width: 25%;
    margin-left: 20px;
    justify-content: right;
}

.post-header {
    margin: 30px auto;
}

.post-meta > time, span {
    font-size: 12px;
}

.post-title {
    font-size: 30px;
    font-weight: 700;
}

.post-content > h2, h3, h4, h5, h6, p, .video, .media {
    margin: 20px auto;
}

.post-content > ul li {
    margin-left: 25px;
    list-style-type: square;
}

.first-menu li a, .second-menu li a {
    color: #D32F2F;
    text-decoration: none;
    font-size: 18px;
}

.second-menu li a {
    color: #ffa700;
}

.first-menu .csr {
    font-size: 14px;
}

.first-menu .soc {
    font-weight: 500;
    font-size: 16px;
}

.first-menu li a:hover { text-decoration: none; }

.first-menu .logo a { color: #212121; font-size: 26px; }


.offer, .block-2, .subscribe, .comments, .checkout {
    background-color: #e6e6e6;
}

.subscribe, .comments, .checkout {
    position: fixed;
    width: 35%;
    height: 100%;
    padding: 30px;
    z-index: 100;
    top:0;
    right:-60%;
    transition: 500ms;
}

.offer {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 30px;
    z-index: 101;
    top: -120%;
    transition: 150ms;
}

.close{
    position:absolute;
    top: 30px;
    right: 30px;
    z-index:99;
    background-color: black;
    color: white;
    padding: 20px;
}

.comments {
    right:-120%;
    z-index: 99;
}

.checkout {
    right:-180%;
    z-index: 98;
}

.block-2 {
    width: 100%;
    height: 100%;
    color: #494949;
}

.lesson {
    margin-left: 15px;
}

.logo {
    display: block;
    width: 100%;
    max-width: 180px;
    background-color:#212121;
    padding: 20px 0;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.first-menu .logo a {
    color: #ffa700;
}

.offer-plus {
    display: block;
    padding: 30px;
}

.mauticform-input {
    font-family: inherit; font-size: 18px; padding: 5px;
}

.mauticform-button {
    background-color: #D32F2F;
    color: white;
}

.mauticform-label {
    display: block;
}

.subs {
    padding: 30px 0;
}
