
<aside class='subscribe'>
    <div class="block-2">
        <span class="close" onclick="document.querySelector('.subscribe').style.right='-60%'">Close</span>    
        <div>
            <h2>Block Subscribe</h2>
            <div class="offer-plus">
                    {% include subscribe.html %}
            </div>
        </div>
    </div>
</aside>
<!-- 
<aside class='comments'>
    <div class="block-2">
        <span class="close" onclick="document.querySelector('.comments').style.right='-60%'">Close</span>    
        <div>
            <h2>Block Comments</h2>
            <div class="offer-plus">
                    Agora pronto!
            </div>
        </div>
    </div>
</aside>

<aside class='checkout'>
    <div class="block-2">
        <span class="close" onclick="document.querySelector('.checkout').style.right='-60%'">Close</span>  
        <div>
            <h2> Block Checkout </h2>
            <div class="offer-plus">
                    Agora pronto!
            </div>
        </div>
        
    </div>
</aside>

<aside class="offer">
    <span class="close"  onclick="document.querySelector('.offer').style.top='-120%'">Close</span> 
    <div class="block-2">
        <h2>Offer Here </h2>
        <div class="offer-plus">
            Agora pronto!
        </div>
    </div>    
    
</aside> -->