<aside class="sidebar">      
    <ul class="second-menu">    
        <!-- <li>
            <span onclick="document.querySelector('.subscribe').style.right='0'">Fale Comigo</span>
        </li>
        <li>
            <span onclick="document.querySelector('.offer').style.top='0'">Novidades</span>
        </li>
        
        <li>
            <span onclick="document.querySelector('.comments').style.right='0'">Comentar</span>    
        </li>
         <li>
            <span onclick="document.querySelector('.checkout').style.right='0'">Checkout</span>    
        </li>
        <li><a href="">Buscar</a></li>
        <li><a href="">Imprimir</a></li>
        <li><a href="">Download</a></li>
        <li><a href="">Compartilhar</a></li>
        <li><a href="">Topo</a></li> -->
    </ul>
</aside>