<script type="text/javascript">
    /** This section is only needed once per page if manually copying **/
    if (typeof MauticSDKLoaded == 'undefined') {
        var MauticSDKLoaded = true;
        var head            = document.getElementsByTagName('head')[0];
        var script          = document.createElement('script');
        script.type         = 'text/javascript';
        script.src          = 'https://rmaciel.mautic.net/mautic/media/js/mautic-form.js';
        script.onload       = function() {
            MauticSDK.onLoad();
        };
        head.appendChild(script);
        var MauticDomain = 'https://rmaciel.mautic.net';
        var MauticLang   = {
            'submittingMessage': "Please wait..."
        }
    }
</script>

<div id="mauticform_wrapper_novidades" class="mauticform_wrapper">
    <form autocomplete="false" role="form" method="post" action="https://rmaciel.mautic.net/form/submit?formId=1" id="mauticform_novidades"  data-mautic-form="novidades" enctype="multipart/form-data">
        <div class="mauticform-error" id="mauticform_novidades_error"></div>
        <div class="mauticform-message" id="mauticform_novidades_message"></div>
        <div class="mauticform-innerform">

            
          <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">

            <div id="mauticform_novidades_email"  class="mauticform-row mauticform-email mauticform-field-1">
                <label id="mauticform_label_novidades_email" for="mauticform_input_novidades_email" class="mauticform-label">Digite seu email favorito</label>
                <input id="mauticform_input_novidades_email" name="mauticform[email]" value="" placeholder="Digite aqui" class="mauticform-input" type="email" />
                <span class="mauticform-errormsg" style="display: none;"></span>
            </div>

            <div id="mauticform_novidades_submit"  class="mauticform-row mauticform-button-wrapper mauticform-field-2">
                <button type="submit" name="mauticform[submit]" id="mauticform_input_novidades_submit" name="mauticform[submit]" value="" class="mauticform-button btn btn-default" value="1">Quero Receber Gratuitamente</button>
            </div>
            </div>
        </div>

        <input type="hidden" name="mauticform[formId]" id="mauticform_novidades_id" value="1"/>
        <input type="hidden" name="mauticform[return]" id="mauticform_novidades_return" value=""/>
        <input type="hidden" name="mauticform[formName]" id="mauticform_novidades_name" value="novidades"/>

        </form>
</div>
