---
layout: compress
---
{% include head.html %}
<body>
    <div class="container">
      <div class="block">
            {% include header.html %}
        <section class="main">
            {{ content }}
        </section>
            {% include sidebar.html %}
      </div>
        {% include footer.html %}
    </div>
        {% include offers.html %}
</body>
</html>