---
layout: page
---
<p>
{{ page.description }}
</p>
<ul>
{% for lesson in site.lessons %}
    {% if lesson.course == page.course %}
        <li style="margin-left:25px; list-style-type: decimal;">
            <a href="{{ lesson.permalink }}"><span style="font-size: 18px;">{{ lesson.title }}</span></a>
        </li>   
    {% endif %}
{% endfor %}
</ul>