---
layout: base
---

<article class="page" itemscope itemtype="http://schema.org/WebPage">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    </header>
  
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>  
</article>